<footer class="footer">
  <div class="container">
    <hr style="border:1px solid #aaa">
    <p class="credit">&copy; <%= title %> 2013</p>
  </div>
</footer>

<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src='//code.jquery.com/ui/1.10.3/jquery-ui.min.js'></script>
<!--<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="/javascripts/plugins.js"></script>
<script>
  // Google Analytics Here
  //var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  //(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  //g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  //s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

