<% include head %>
    <div id="main" class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" style="background:#fff">
        <h1><%= title %></h1>
        <br>
        <p class="lead">Experimental short video sharing service.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- <ul class="thumbnails">                                                                     -->
      <!--   <li class="span6">                                                                        -->
      <!--     <div class="thumbnail">                                                                 -->
      <!--       <h3>Thumbnail label</h3>                                                              -->
      <!--       <p>Thumbnail caption...</p>                                                           -->
      <!--       <div id="myCarousel" class="carousel slide">                                          -->
                   <!-- Carousel items -->
      <!--         <div class="carousel-inner">                                                        -->
      <!--           <div class="active item">                                                         -->
      <!--               <img src="http://placehold.it/600x400&text=First+Slide" class="img-polaroid"> -->
      <!--           </div>                                                                            -->
      <!--           <div class="item">                                                                -->
      <!--               <img src="http://placehold.it/600x400&text=Second+Slide">                     -->
      <!--           </div>                                                                            -->
      <!--           <div class="item">                                                                -->
      <!--               <img src="http://placehold.it/600x400&text=Third+Slide">                      -->
      <!--           </div>                                                                            -->
      <!--         </div>                                                                              -->
                   <!-- Carousel nav -->
      <!--         <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>  -->
      <!--         <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
      <!--       </div>                                                                                -->
      <!--     </div>                                                                                  -->
      <!--   </li>                                                                                     -->
      <!-- </ul>                                                                                       -->

    </div> <!-- /container -->

    <% include foot %>
    <script src='/javascripts/client.js'></script>
    <script src='//raw.github.com/imakewebthings/jquery-waypoints/master/waypoints.min.js'></script>
  </body>
</html>
