<% include head %>
    <div id="main" class="container">
      <div id="timeline" class="row-fluid">
      </div>
    </div> <!-- /container -->

    <% include foot %>
    <script src='/javascripts/timeline.js'></script>
  </body>
</html>
