<% include head %>
    <div id="main" class="container">
      <div id="error-message" class="alert alert-block alert-error fade in" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Oh snap! You got an error!</h4>
        <p>Please try one more time.</p>
      </div>
      <div id="timeline" class="row-fluid">
      </div>
    </div> <!-- /container -->

    <% include foot %>
    <script src='/javascripts/timeline.js'></script>
  </body>
</html>
